<section class="section">
    <div class="container">
        <h1 class="title">
            Add Class
        </h1>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Vincent">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Instructor's Name</label>
            <div class="select">
                <select id="instructorId">
                <option value="-1">None</option>
                {{#each instructors}}
                <option value="{{id}}">{{firstName}} {{lastName}}</option>
                {{/each}}
            </select>
            </div>
        </div>
        
        <div class="field">
            <label class="label">Price</label>
            <div class="control">
                <input class="input" type="number" placeholder="15.00">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">
            Sign up for Class
        </h1>

        <div class="field">
            <label class="label">Member</label>
            <div class="control">
                <input class="input" type="text" placeholder="Member Name">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Class</label>
            <div class="control">
                <input class="input" type="text" placeholder="Class Name">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">Classes</h1>
        <table class="table">
            <tr>
                <th>Class Name</th>
                <th>Description</th> 
                <th>Instructor</th>
                <th>Price</th> 
            </tr>
            {{#each classes}}
            <tr>
                <td>{{className}}</td>
                <td>{{classDescription}}</td> 
                <td>{{iFirstName}} {{iLastName}}</td>
                <td>{{classPrice}}</td> 
            </tr>
            {{/each}}
        </table>
    </div>
</section>
