<script defer src="./js/clubs.js"></script>
<section class="section">
    <div class="container">
        <h1 class="title">
            Add Club
        </h1>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="clubName" placeholder="Vincent">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" name="clubDescription" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button id="submitClub" class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">
            Sign up for Club
        </h1>

        <div class="field">
            <label class="label">Member</label>
            <div class="select">
                <select id="memberId">
                    {{#each members}}
                    <option value="{{id}}">{{mFirstName}} {{mLastName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        
        <div class="field">
            <label class="label">Club</label>
            <div class="select">
                <select id="clubId">
                    {{#each clubs}}
                    <option value="{{id}}">{{clubName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button id="submitMemberClub" class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">Clubs</h1>
        <table class="table">
            <tr>
                <th>Club Name</th>
                <th>Description</th> 
            </tr>
            {{#each clubs}}
            <tr>
                <td>{{clubName}}</td>
                <td>{{clubDescription}}</td> 
            </tr>
            {{/each}}
        </table>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="field">
            <h1 class="title">Delete Club</h1>
            <div class="select">
                <select id="clubId">
                    <option value="-1">None</option>
                    {{#each clubs}}
                    <option value="{{id}}">{{clubName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button id="submit" class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</section>
