<script defer src="./js/trainers.js"></script>
<section class="section">
    <div class="container">
        <h1 class="title">
            Add Trainer
        </h1>

        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input" type="text" name="fname" placeholder="Vincent">
            </div>
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input class="input" type="text" name="lname" placeholder="Kliman">
            </div>
        </div>              

        <div class="field">
            <label class="label">Sex</label>
            <div class="select">
                <select id="sex">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" name="description" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Hourly Rate</label>
            <div class="control">
                <input class="input" type="number" name="hourlyRate" placeholder="10.00">
            </div>
        </div>
        
        <div class="field">
            <div class="control">
                <button id="submitTrainer" class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">
            Sign up for Trainer
        </h1>

        <div class="field">
            <label class="label">Member</label>
            <div class="select">
                <select id="memberId">
                    {{#each members}}
                    <option value="{{id}}">{{mFirstName}} {{mLastName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        
        <div class="field">
            <label class="label">Trainer</label>
            <div class="select">
                <select id="trainerId">
                    {{#each trainers}}
                    <option value="{{id}}">{{tFirstName}} {{tLastName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button id="submitMemberTrainer" class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">Trainers</h1>
        <table class="table">
            <tr>
                <th>Trainer Name</th>
                <th>Sex</th>
                <th>Description</th>
                <th>Hourly Rate</th>
            </tr>
            {{#each trainers}}
            <tr>
                <td>{{tFirstName}} {{tLastName}}</td>
                <td>{{tSex}}</td> 
                <td>{{tDescription}}</td> 
                <td>{{tHourlyRate}}</td> 
            </tr>
            {{/each}}
        </table>
    </div>
</section>
